# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.settings

.idea

.metadata

node_modules

*.pyc
smoketest/logs

logs



